* {
    text-align: center;
    font-family: sans-serif;
}

.one-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

p {
    margin: 0;
    padding: 0;
}

#info {
    display: none;
}

#weight {
    font-size: 10em;
    color: white;
}

#duration {
    font-size: 5rem;
}

#pause-gif {
    display: none;
    align-content: center;
    width: auto;
    height: auto;
}

#overview,
#workoutPage {
    padding: 1em;
}

#exercises {
    overflow-y: scroll;
    max-height: 30rem;
}



body {
    --background-colour: #212529;
    background: var(--background-colour)
}

#diff {
    font-size: 2em;
    color: var(--background-colour);
}

input,
select,
textarea {
    color: var(--background-colour);
}

header>*,
label,
p,
button {
    color: white;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-image: url(/images/dumbell.png);
    border-style: groove;
    padding: 2rem 0 0 0;
    border-radius: 0.8rem 0.8rem 0 0;
    margin: 1em;
}

h1 {
    background-color: var(--background-colour);
    border-radius: 2rem;
}

#error {
    display: none;
    position: sticky;
    top: 1em;
}

button {
    border-radius: 0.8rem 0.8rem 0 0;
    font-size: 1rem;
    height: 4rem;
    --button-color: #4F4F4F;
    background-color: var(--button-color);
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: 500;
}

button:hover {
    background-color: var(--button-color);
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.5;
}

.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 1.8rem;
    color: #fff;
}

ul {
    display: grid;

    grid-template-columns: repeat(auto-fill, 22rem);
    justify-content: center;
}

dialog {
    width: 100%;
    height: 100%;
    --secondary-colour: #3185FC;
    background: linear-gradient(to bottom, var(--background-colour), var(--secondary-colour) 250%);
    border: 0;
}

dialog>button {
    margin: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
    height: 4rem;
    width: 16rem;
}

#workout>#addExercise, #workout>#addRest, #workout>#saveWorkout {
    width: 16rem;
    margin: 0.5rem;
}


#cancelWorkout {
    display: flex;
    justify-self: end;
    border: none;
    height: 2rem;
    width: 2rem;
    padding: 0;
    border-radius: 50%;
    margin: 0;
}

#cancelWorkout>* {
    display: inline-flex;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #fff;
}

#addWorkout {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.highlight {
    background-color: #3185FC;
}

@media (max-width: 38em) {
    ul {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }

    #pause-gif {
        width: 25rem;
    }

    #addWorkout {
        position: sticky; 
        bottom: 1rem;
        text-align: center;
        /* bottom:0; 
        right:0;
        margin: 1rem; */
        float: right;
    }
}