<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Set Timer</title>
<script defer src="time_setter.js"></script>
<link href="/components/timer_setter.css" type="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<template id="timer">
    <p id="time">0</p>
    <input type="range" id="setTime" name="volume" min="0" max="90" step="1" value='0' />

    <ol>
        <button>0</button>
        <button>30</button>
        <button>60</button>
        <button>90</button>
    </ol>
</template>